@model IEnumerable<Anime>
@{
    ViewData[index: "Title"] = "Anime View";
}
<div class="container p-4">

    <div class="row pt-5">

        <div class="col-6">
            <h2 class="text-body mb-4">Anime View</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Anime" asp-action="New" class="btn btn-primary">
                <i class="bi bi-plus"></i> &nbsp; Add New Anime</a>
        </div>

    </div>

    <div class="container">

        <div class="row justify-content-center g-4">

            @foreach (Anime anime in Model)
        {
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card shadow-sm h-100">
                    <div class="poster-container"> 
                        <img src="@Url.Content("~/" + anime.ImageUrl)" class="card-img-top" alt="@anime.Title">
                            <div class="card-body text-center">
                            <h4 class="card-title">@anime.Title</h4>
                        
                        </div>
                    </div>
                </div>
            </div>
        }
    

        </div>

    </div>


</div>